body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}

.wrapper {
  position: relative;
  max-width: 470px;
  width: 100%;
  border-radius: 12px;
  padding: 20px 30px 120px;
  background: var(--bg-color-login);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.wrapper .layout-form header {
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.wrapper .layout-form.login {
  position: absolute;
  left: 50%;
  bottom: -86%;
  transform: translateX(-50%);
  width: calc(100% + 220px);
  height: 100%;
  padding: 20px 140px;
  border-radius: 50%;
  background: #fff;
  transition: all 0.6s ease;
}

.wrapper.active .layout-form.login{
  bottom: -15%;
  border-radius: 35%;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .layout-form.login header {
  color: #333;
  opacity: 0.6;
}

.wrapper.active .layout-form.login header {
  opacity: 1;
}

.wrapper.active .layout-form.signup header {
  opacity: 0.6;
}

.wrapper .form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-field {
  position: relative;
}

.input-field i {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.form input {
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  padding: 0 40px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  background: #fff;
  border-bottom: 2px solid #ccc;
  border-radius: 8px;
}

.layout-form.login input {
  border-radius: unset;
}

.form .terms-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.terms-checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #fff;
  cursor: pointer;
}

.terms-checkbox label {
  cursor: pointer;
  color: #fff;
}

.form a {
  color: #333;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form input[type="submit"] {
  margin-top: 15px;
  padding: 0;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.layout-form.login input[type="submit"] {
  background: var(--bg-color-login);
  color: #fff;
  border: none;
}